.vscode
.idea

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

djangular/jaksiemieszka/__pycache__/
djangular/books/__pycache__/

*db.sqlite3*
/.env
/venv

/djangular/djangular/__pycache__/*
/djangular/jaksiemieszka/__pycache__/*
/djangular/jaksiemieszka/migrations/__pycache__/*
/djangular/account/__pycache__/*
/djangular/account/migrations/__pycache__/*
/djangular/static-root/

*.sqlite3
*.sql
*.db*
*.cpython-38.pyc
*.cpython-39.pyc
*.cpython-310.pyc
*.pyc

